DATABASE_URL=postgres://<user>:<password>@localhost:5432/<dbname>?sslmode=disable
CSV_PATH=data/transactions.csv
PORT=8080

POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=<your_postgres_db>
